jobs:
  build-and-deploy:
    name: Build and deploy
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v3"
      - name: Install Dhall
        uses: "dhall-lang/setup-dhall@v4"
        with:
          github_token: "${{ github.token }}"
      - name: Convert Dhall to JSON
        run: "mkdir -p site/data && dhall-to-json --file synths.dhall > site/data/synths.json && dhall-to-json --file shipping.dhall > site/data/shipping.json"
      - name: Set up Python3
        uses: "actions/setup-python@v4"
        with:
          python-version: '3.13'
      - name: "Set up Python3 + UV"
        uses: "astral-sh/setup-uv@v1"
      - env:
          STRIPE_SECRET_KEY: "${{ secrets.STRIPE_SECRET_KEY }}"
        name: Generate Stripe checkout links
        run: "cd PaymentLinks && uv sync && uv run main.py ../site/data"
      - name: Install Hugo
        uses: "peaceiris/actions-hugo@v2"
        with:
          hugo-version: latest
      - name: Build
        run: "cd site && hugo --cleanDestinationDir"
      - name: Deploy
        uses: "peaceiris/actions-gh-pages@v3"
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          publish_dir: "./site/docs"
name: Build and deploy
on:
  push:
    branches:
      - main
permissions:
  contents: write
